name: Build QMK firmware

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    name: 'QMK Userspace Build'
    uses: qmk/.github/.github/workflows/qmk_userspace_build.yml@2136ded0cdc263e4cc0c2abced3ad4e2222cf1cb
    with:
       # Use my fork of the QMK firmware repository
       # qmk_repo: qmk/qmk_firmwar
       qmk_repo: corintho/qmk_firmware_artsey
       qmk_ref: master

  publish:
    name: Publish
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download binaries
        if: always() && !cancelled()
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          name: Firmware

      - name: Generate Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        if: always() && !cancelled()
        with:
          fail_on_unmatched_files: false
          draft: false
          prerelease: false
          files: |
            **/*.hex
            **/*.bin
            **/*.uf2
